.homerow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}
.elcard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 239, 239);
    height: 550px;
}
.heroimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image{
    width: 70%;
    
}


.eligible1-image{
    width: 150px;
    
}

.eligible2-image{
    width: 185px;
    margin-top: -15%;
}


.home-container{
    
    height: 100vh;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}





