.row{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 239, 239);

}
.heroimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image{
    width: 70%;
    
}

.card-image{
    width: 150px;
}

.btn{
    background-color: #9c3353;
    color: #fffefe;
}
.home-container{
    
    height: 90vh;
}

